* {
    margin: 0;
    box-sizing: border-box;
  }
  :root {
    --nav-bar-color: #325d32;
    --boder-radius: 10px;
    --main-font: "Outfit";
  }
  .nav-section {
    width: 100%;
    height: 50px;
    background-color: var(--nav-bar-color);
    display: flex;
    justify-content: space-between;
  }
  .nav-section .nav-menu {
    width: 35%;
    height: 100%;
    font-family: var(--main-font);
  }
  .nav-menu .menu {
    list-style: none;
    display: flex;
  }
  .nav-menu .menu li {
    position: relative;
    padding: 15px;
  }
  .nav-menu .menu li a {
    text-decoration: none;
    color: white;
    display: inline-block;
  }
  .dropdown {
    list-style: none;
    position: absolute;
    left: 0%;
    top: 100%;
    width: 150px;
    margin-left: -20px;
    background-color: var(--nav-bar-color);
    display: none;
    opacity: 0.5;
    z-index: 1;
  }
  .dropdown li {
    display: block;
    margin: 0;
    text-align: left;
  }
  .menu li:hover .dropdown {
    display: block;
  }
  .nav-section .nav-mode {
    width: 7.5%;
    height: 70%;
    background-color: black;
    opacity: 0.4;
    margin-right: 20px;
    border-radius: var(--boder-radius);
    margin-top: 8px;
    color: white;
    font-family: var(--main-font);
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
  }
  .nav-mode:hover {
    cursor: pointer;
    opacity: 1;
  }
  .logo-search-container {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.584);
    font-family: var(--main-font);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
  }
  .logo-search-container .account-manager {
    width: 9%;
    height: 70%;
    margin-top: 8px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .account-manager:hover {
    cursor: pointer;
  }
  .logo-search-container h2 {
    color: var(--nav-bar-color);
    margin-left: 35px;
  }
  .logo-search-container h2:hover {
    cursor: pointer;
  }
  .input-container {
    width: 20%;
    height: 40%;
    position: relative;
  }
  .input-container :last-child {
    position: absolute;
    right: 2%;
    top: 24%;
  }
  .logo-search-container input {
    width: 100%;
    height: 100%;
    outline: none;
    border: 1px solid black;
    border-radius: var(--boder-radius);
    background-color: #d8d8dac7;
    padding-left: 10px;
  }
  .hero-container {
    width: 98%;
    height: 75vh;
    background-color: #000;
    margin: 20px auto;
    border-radius: var(--boder-radius);
    position: relative;
    overflow: hidden; /* for hide overflow element */
  }
  .hero-container::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../images/Hero-Images-Angkor.png");
    opacity: 0.2;
    top: 0%;
  }
  .hero-container .hero-txt-container {
    font-family: var(--main-font);
    width: 40%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 2%;
  }
  .hero-txt-container :first-child {
    font-size: 50px;
    font-weight: 400;
    color: white;
  }
  .hero-txt-container :nth-child(2) {
    line-height: 30px;
    color: aqua;
    margin: 20px 0px;
  }
  .btn-explore {
    width: 120px;
    height: 35px;
    border-radius: var(--boder-radius);
    border: none;
    transition: 0.2s;
  }
  .btn-explore:hover {
    transition: 0.2s;
    background-color: aqua;
    color: white;
  }
  .hero-container .hero-thumnail-container {
    display: flex;
    width: 55%;
    height: 60%;
    position: absolute;
    right: 2%;
    top: 16%;
    justify-content: center;
    overflow: hidden;
    gap: 10px;
    padding: 10px 0px;
  }
  .hero-thumnail-container > img {
    border-radius: var(--boder-radius);
    transition: 0.3s;
  }
  .hero-thumnail-container > img:hover {
    transition: 0.3s;
    transform: scale(1.03);
  }
  .special{
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    font-family: var(--main-font);
}
.place-food{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}
.place-food > img{
    border-radius: var(--boder-radius);
    transition: 0.3;
}.place-food >img:hover{
  cursor: pointer;
  transition: 0.3s;
    transform: scale(1.03);
}
.place{
  display: flex;
  width: 75%;
  height: 20vh;
  justify-content: center;
}
.text-place{
  width: 49%;
  height: 100px;
  position: relative;
  left:12%;
  padding: 20px 10px;

}
.text-place i{
  width: 35px;
  height: 35px;
  background-color: rgb(217, 207, 207);
  padding: 10px 10px;
  border-radius: 50%;
  position: absolute;
  left: 100%;
  top: 15%;
}
.text-place i:hover{
  background-color: aquamarine;
  cursor: pointer;
  border: none;
}
.text-place p{
  margin: 10px 0px;
}
.text-place1{
  width: 49%;
  height: 100px;
  position: relative;
  left: 18%;
  padding: 20px 10px;

}
.text-place1 i{
  width: 35px;
  height: 35px;
  background-color: rgb(217, 207, 207);
  padding: 10px 10px;
  border-radius: 50%;
  position: absolute;
  left: 100%;
  top: 15%;
  overflow: hidden;
}
.text-place1 i:hover{
  background-color: aquamarine;
  cursor: pointer;
  border: none;
}
.trending{
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  font-family: var(--main-font);
  transition: 0.3;
}
.trend{
  font-family: var(--main-font);
  font-weight: 100;
  margin-top: 20px auto;
  width: 75%;
  height: 40vh;
  margin: 20px auto;
  color: rgb(41, 162, 228);
}
.trend .p{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
  font-size: 20px;
  margin: 20px auto;
  transition: 0.3;
}
.p .op1{
  width: 40px;
  border-radius: var(--boder-radius);
  border: 1px solid rgb(41, 162, 228);
  text-align: center;
}
.op1:hover{
  background-color: aquamarine;
  cursor: pointer;
  border: none;
}
.p .op2{
  width: 70px;
  border-radius: var(--boder-radius);
  border: 1px solid rgb(41, 162, 228);
  text-align: center;
}
.op2:hover{
  background-color: aquamarine;
  cursor: pointer;
  border: none;
}
.p .op3{
  width: 60px;
  border-radius: var(--boder-radius);
  border: 1px solid rgb(41, 162, 228);
  text-align: center;
}
.op3:hover{
  background-color: aquamarine;
  cursor: pointer;
  border: none;
}
.p .op4{
  width: 90px;
  border-radius: var(--boder-radius);
  border: 1px solid rgb(41, 162, 228);
  text-align: center;
}
.op4:hover{
  background-color: aquamarine;
  cursor: pointer;
  border: none;
}
.trend .card{
  width: 100%;
  height: 300px;
    border-radius: var(--boder-radius);
    display: flex;
    justify-content: space-around;
    gap: 30px;
   
}
.card >img{
  border-radius: var(--boder-radius);
  transition: 0.3;
}
.card >img:hover{
  cursor: pointer;
  transition: 0.3s;
    transform: scale(1.03);
}
.trending1{
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  font-family: var(--main-font);
  transition: 0.3;
  margin: 80px auto;
}
.trend1{
  font-family: var(--main-font);
  font-weight: 100;
  margin-top: 20px auto;
  width: 75%;
  height: 40vh;
  margin: 20px auto;
}
.trend1 .card1{
  width: 100%;
  height: 300px;
    border-radius: var(--boder-radius);
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
.card1 >img{
  transition: 0.3;
  border-radius: var(--boder-radius);
}
.card1 >img:hover{
  cursor: pointer;
  transition: 0.3s;
    transform: scale(1.03);
}
.trend1 .btn-see{
  width: 8%;
  display: flex;
  padding: 5px 0px;
  justify-content: center;
  align-items: center;
  border-radius: var(--boder-radius);
  border: 1px solid rgb(41, 162, 228);
  margin: 20px auto;
  transition: 0.3;
}
.btn-see i{
  width: 5%;
  height: 20px;
  padding-left: 10px;
  
}
.btn-see:hover{
  background-color: aqua;
  cursor: pointer;
  border: none;
}
.trending2{
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  font-family: var(--main-font);
  transition: 0.3;
  margin: 60px auto;
}
.trend2{
  font-family: var(--main-font);
  font-weight: 100;
  margin-top: 20px auto;
  width: 75%;
  height: 40vh;
  margin: 20px auto;
}
.trend2 .card2{
  width: 100%;
  height: 300px;
    border-radius: var(--boder-radius);
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
.card2 >img{
  transition: 0.3;
  border-radius: var(--boder-radius);
}
.card2 >img:hover{
  cursor: pointer;
  transition: 0.3s;
    transform: scale(1.03);
}
.trend2 .btn-see1{
  width: 8%;
  display: flex;
  padding: 5px 0px;
  justify-content: center;
  align-items: center;
  border-radius: var(--boder-radius);
  border: 1px solid rgb(41, 162, 228);
  margin: 20px auto;
  transition: 0.3;
}
.btn-see1 i{
  width: 5%;
  height: 20px;
  padding-left: 10px;
  
}
.btn-see1:hover{
  background-color: aqua;
  cursor: pointer;
  border: none;
}
.footer{
  width: 80%;
  height: 20vh;
  background-color: rgb(66, 183, 230);
  border-radius: var(--boder-radius);
  margin: 20px auto;
  margin-bottom: 0;
  display: flex; 
  justify-content: space-between;
  padding: 10px 20px;
  font-family: var(--main-font);
  color: white;
  font-size: 25px;
}
.footer .l{
  width: 30%;
  height: 100%;
  position: relative;
 left: 2%;
}
.l >p{
  color: white;
  padding-left: 30px;
}
.l .circle{
  position: absolute;
  background-color: rgb(242, 236, 236);
  margin-top:25px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}
.footer .d{
  width: 30%;
  height: 100%;
}
.d >p{
  padding-bottom: 30px;
  padding-left: 30%;
}
.footer .s{
  width: 30%;
  text-align: center;
}
.s .m{
  display: flex;
  justify-content: space-around;

}
.s .circle{
  background-color: rgb(242, 236, 236);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-top:25px;
  margin-bottom: 30px;
}