@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=SUSE:wght@100..800&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: "SUSE";
}
.logo{
    width: 80px;
    height: 40px;
}
.navbar-nav li{
    padding: 0px 20px;
}
.card >img:hover{
    cursor: pointer;
    transform: scale(1.03);
    
}
.icon >i:hover{
    transform: scale(1.03);
    cursor: pointer;
}